* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: #c9c3c3;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}
.subTitle{
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
  cursor: pointer;
}
.searchInput {
  width: 40%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  box-shadow: 0 05px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.searchInput:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.searchBtn {
  padding: 10px 20px;
  border: none;
  box-shadow: 0 05px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  background-color: #4caf50;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.searchBtn:hover {
  background-color: #3e8e41;
}
.searchTypes {
  color: black;
  text-align: center;
  font-size: 1.3rem;
  margin: 0 20px;

}
.searchResult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.card {
  background-color: rgb(213, 213, 205);
  display: flex;
  max-width: 300px;
  min-height: 300px;
  flex-direction: column;
  margin-bottom: 60px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
}
.articleTitle {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.card:hover img {
  transform: scale(1.05);
}
.cardImg {
  width: 100%;
  height: 200px;
  padding: 10px 10px;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.sourceDiv {
  width: 100%;
  padding: 0 5px;
  text-align: left;
}
.author {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin-left: 20px;
}
.source {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin-left: 20px;
}
.published {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin-left: 20px;
}
.descriptionDiv {
  padding: 10px 0;
  text-align: left;
}
.descriptionText {
  font-size: 1.2rem;
  padding-left: 10px;
}

.clearPageBtn {
  background-color: rgb(0, 140, 186);
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  text-align: center;
  margin: 5px auto;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.clearPageBtn:hover {
  background-color: rgba(0, 140, 186, 0.5);
  color: black;
}
.link {
  background-color: rgb(0, 140, 186);
  text-decoration: none;
  border: none;
  color: white;
  padding: 10px 20px;
  display: block;
  text-align: center;
  margin: 20px auto;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-color: rgba(0, 140, 186, 0.5);
  color: black;
}

@media screen and (max-width: 768px) {
  .card {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
  form {
    flex-direction: column;
  }
  .searchInput {
    margin-bottom: 20px;
    width: 85%;
  }
  h1 {
    font-size: 2rem;
  }
}
